@model MvcCustomer.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>



    <a class="btn btn-success" data-toggle="modal" data-target=".bootstrapmodal"> <span class="glyphicon glyphicon-eye-open"></span> View (delete)</a>

    <div class="modal fade bootstrapmodal">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <div class="modal-title">Do you really wanna delete this Customer?</div>
                    <button data-dismiss="modal" class="close"><span>&times;</span></button>
                </div>

                <div class="modal-body">
                    After deleting the customer you cannot retrieve its data. Are you are sure about this?

                </div>

                <div class="modal-footer">
                    <a href="#" class="btn btn-success">Submit</a>
                    <button class="btn btn-primary" value="Delete">submit deletion</button>
                    <button class="=btn btn-default" data-dismiss="modal">cancel</button>
                </div>

            </div>

        </div>

    </div>



    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
